.container {
  background-color: #33333f;
  display: grid;
  grid-auto-rows: 10% 90%;
}
.user_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.user_details h1{
  color: white;
  margin-left: 20px;
}
.discussion {
  display: grid;
  grid-template-columns: 90% 10%;
}
.discussion_content {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  margin: 20px;
  height: 80vh;
  background-color: #1f1f2b;
  border-radius: 10px;
  justify-content: space-between;
  overflow: hidden;

}
.person_info {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: #1f1f2b;
  border-bottom: 1px solid #57575d;
}

.person_info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.person_info h1{
  color: white;
  font-size: 1.2rem;
  margin-left: 10px;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #404043
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #57575d;
}
.send_message {
  background-color: #1f1f2b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.send_message input {
  background-color: #57575d;
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 70%;
  height: 40px;
  outline: none;
  color: white;
}
.send_message button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-color: #7eb7b0;
  color: white;
}
.personal_message {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.message {
  margin: 10px;
  overflow: auto;
}
.message p {
  background-color: #57575d;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.message img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 10px;
  margin: 5px 0;
}
.icons {
  align-items: center;
  display: flex;
}
.icons button {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #5c5c60;
  margin-right: 5px;
  border: none;
  color: white;
}

.discussion_people {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  margin-top: 20px;
}
.discussion_people img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 10px;
  margin: 5px 0;
}
