.container {
  background-color: #33333f;
}
.user_details{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
.user_details img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.discussion{
    display: grid;
    grid-template-columns: 80% 20%;
    position: relative;
}
.discussion_content{
    margin: 20px;
    height: 80vh;
    width: 100%;
    background-color: #1f1f2b;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.discussion_content input{
    background-color: #57575d;
    padding: 10px;
    border-radius: 20px;
    border: none;
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 60%;
    outline: none;
    color: white;
}
.discussion_content button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 20px;
    right: 70px;
}
.message{
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    height: 80px;
}
.message p{
    background-color: #57575d;
    height: 100%;
    width: 80%;
    border-radius: 5px;
}
.message img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    right: 10px;
    margin: 5px 0;
}
.icons{
    align-items: center;
    display: flex;
}
.icons button{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: #5c5c60;
    margin-right: 5px;
}

.discussion_people{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    margin-top: 20px;
}
.discussion_people img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    right: 10px;
    margin: 5px 0;
    
}