
.container {
  width: 100%;
  background-color: #1f1f2b;
  height: 100vh;
  border-right: 2px solid #33333f;
}
.container h3 {
    color: white;
  display: flex;
  margin: 10px;
  padding: 10px;
}
.container Link{
    text-decoration: none;
    color: white;
}
a{color: white;
text-decoration: none;}
.container ul{
    text-decoration: none;
}
.container li{
    cursor: pointer;
}
.container li:hover,.container li:active{
    background-color: #33333f;
    border-right: 2px solid #7eb7b0;
}
.container h1,h2{
    font-size: 20px;
    margin: 20px;
    color: white;
}
