.container {
  width: 100%;
  overflow: auto;
  background-color: var(--background-color);
  height: 92vh;
  border-right: 2px solid var(--message-background-color);
  padding-top: 10px;
}
.container h3 {
  color: var(--text-color);
  display: flex;
  padding: 10px;
  margin: 5px;
}
.container Link {
  text-decoration: none;
  color: var(--text-color);
}
a {
  color: var(--text-color);
  text-decoration: none;
}
.container ul {
  text-decoration: none;
}
.container li {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container li:hover,
.container li:active {
  background-color: var(--content-backgroud-color);
  border-right: 2px solid var(--button-background-color);
}
.container h1 {
  margin: 10px;
  color: var(--text-color);
}
.container h2{
  margin: 0 10px;
  color: var(--text-color);
}

.container input{
  background-color: var(--message-background-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 10px;
  width: 80%;
  color: var(--text-color);
}
@media (max-width: 992px) {
  .container{
    display: none;
  }
}