* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.error_message{
  color: red;
}
.container form {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.129);
  padding: 30px;
  border-radius: 5px;
}
.container h1 {
  color: white;
  font-size: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.container h2 {
  color: white;
  padding: 10px 0;
}
.container label {
  color: white;
  font-size: 1rem;
}
.container input[type="email"],
.container input[type="password"],input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  background-color: #33333f;
  border: none;
  outline: none;
  color: white;
  margin: 10px 0;
}
.forgot_password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forgot_password span {
  font-size: 1rem;
  color: #7eb7b0;
  cursor: pointer;
}
.container button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #7eb7b0;
  color: white;
  border: none;
  outline: none;
  margin: 10px 0;
}
.check {
  display: flex;
  justify-content: start;
  margin: 10px 0;
  height: 10px;
  width: 100%;
  align-items: center;
}
.check input {
  margin-right: 10px;
}
.container p {
  color: white;
  font-size: 1rem;
}
.create_account {
  text-decoration: none;
  color: #7eb7b0;
}
