.container{
    height: 60%;
    width: 50%;
    margin: auto;
    border-radius: 5px;
}
.content{
    margin: 10%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
}
.content input{
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    background-color: var(--message-background-color);
    color: var(--text-color);
    
}
.content button{
    width: 60%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: var(--button-background-color);
    color: var(--text-color);
}