.container {
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 10px;
}
.container img {
  height: 50%;
  width: 90%;
  border-radius: 15%;
}
.container p {
  padding: 10px;
  border-radius: 5px;

}
.content {
  display: grid;
  grid-template-rows: 20% 80%;
  border-radius: 5px;
}
.userDetails {
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--text-color);
}
.userDetails h2{
    margin: 5px;
    font-size: 1.2rem;
}
.userDetails p{
    margin: 0;
    font-size: 0.8rem;

}
.message p{
  color: var(--text-color)
}
.message img{
  height: 150px;
  width: 100px;
}