.container {
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 10px;
}
.container img {
  margin-top: 8px;
  height: 40px;
  width: 90%;
  border-radius: 5px;
}

.content {
  display: grid;
  grid-template-rows: 10% 90%;
  border-radius: 5px;
}
.userDetails {
  display: flex;
  justify-content: start;
  align-items: baseline;
  color: var(--text-color);
}
.userDetails h2{
    margin: 5px;
    font-size: 1.2rem;
}
.userDetails p{
    margin: 0;
    font-size: 0.8rem;

}
.message {
  margin-top: 10px;
}
.message p{
  color: var(--text-color)
}
.message img{
  height: 150px;
  width: 100px;
  margin: 0 2px;
}