.content {
  position: absolute;
  background-color: white;
  left: 45%;
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px 0 0 5px;
  color: black;
}
.content input[type="file"] {
  margin-top: 20px;
  border: none;
}
.content input{
  border: 1px solid black;
}
.content textarea{
  border: 1px solid black;
}
.select{
  border: 1px solid black;
  border-radius: 5px;

}
.content li{
  list-style-type: none;
  padding: 5px;
  border: none;
}
.content ul{
  border: 1px solid black;
  border-radius: 5px;
}
.btn {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  width: 50%;
}
.btn button {
  width: 40%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: none;
}
.btn .btn_create {
  background-color: green;
}
.btn .btn_cancel {
  background-color: red;
}
.content button:hover {
  opacity: 0.9;
}
