.card {
  width: 250px;
  height: 150px;
  margin: 20px;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #33333f;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.card .image img {
  margin: 0;
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.content h3 {
  text-transform: uppercase;
  font-size: medium;
  color: white;
  margin: 0;
  padding: 0 10px;
}
.content p {
  display: none;
}
.card:hover {
  padding: 20px;
  img {
    display: none;
  }
  .content p {
    margin: 5px;
    display: flex;
    text-overflow: ellipsis;
  }
}
