.content {
  position: absolute;
  background-color: var(--text-color);
  right: 0;
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px 0 0 5px;
}
.content input[type="file"] {
  margin-top: 20px;
  border: none;
}
.content ul{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    cursor: pointer;
}
.content li{
  list-style-type: none;
  padding: 5px;
  background-color: var(--text-color);
  border: none;
}
.btn {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  width: 50%;
}
.btn button {
  width: 40%;
  margin: 10px;
}
.btn .btn_create {
  background-color: green;
}
.btn .btn_cancel {
  background-color: red;
}
.content button:hover {
  opacity: 0.9;
}
