.container {
  height: 92vh;
  display: grid;
  grid-template-rows: 88% 2% 10%;
}
.content {
  padding: 10px;
}
.topic_disccussion {
  overflow: auto;
}
.topic_disccussion h1 {
  color: var(--text-color);
  margin-bottom: 20px;
}
.topic_disccussion p {
  color: var(--text-color);
}
.container img {
  height: 30vh;
  width: 100%;
}
.discussion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
  }

.message {
  width: 100%;
  border-radius: 5px;
  overflow: auto;
  background-color: var(--message-backgroung-color);
  color: var(--text-color);
}
.send_message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}
.send_message input{
    width: 80%;
    height: 80%;
    background-color: var(--content-background-color);
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 10px;

}
.send_message button{
    width: 15%;
    height: 70%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--button-background-color);
    color: var(--text-color);
}
.typing{
  color: var(--text-color);
}
.members{
  display: flex;
  justify-content: space-between;
}
.members button{
  padding: 10px;
  height: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--button-background-color);
  color: var(--text-color);
  cursor: pointer;
}