.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 85% 15%;
}
.content{
    padding: 20px;
}
.topic_disccussion{
    
    overflow: auto;
}
.topic_disccussion h1{
    color: var(--text-color);
    margin-bottom: 20px;
}
.topic_disccussion p{
    color: var(--text-color);
}
.container img{
    height: 30vh;
    width: 100%;
}
.discussion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.message{
    width: 100%;
    border-radius: 5px;
    overflow: auto;
    background-color: var(--message-backgroung-color);
    color: var(--text-color);
}