.container {
  display: grid;
  grid-template-columns: 15% 60% 25%;

}
.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.topic_container{
  width: 100%;
}
.search{
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.search span{
  text-decoration: underline;
}
.search input{
  width: 70%;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #57575d;
  color: white;
  font-size: 1rem;
}
.topic_container h1{
  font-size: 2rem;
  margin-top: 20px;
}
